<%- include('../layouts/userHeader') %>



  <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Product Checkout</h2>
              <p>Home <span>-</span>checkout</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  <!--================Checkout Area =================-->
  <section class="checkout_area padding_top  ">
    <div class="container">
      <div class="returning_customer">

        <form id="checkout-form" class="row contact_form">
          <!-- <div class="col-md-6 form-group p_star">
            
          </div> -->
          <!-- <div class="col-md-6 form-group p_star">
           
          </div> -->
          <!-- <div class="col-md-12 form-group"> -->

          <!-- <div class="creat_account">
              <input type="checkbox" id="f-option" name="selector" />
              <label for="f-option">Remember me</label>
            </div> -->

          <!-- </div> -->

      </div>
      <div class="row">
        <div class="d-flex mb-3">
          <% if(user){ for(let i=0; i<user.address.length; i++){ %>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="address" value="<%=user.address[i]._id%>"
                id="<%=user.address[i]._id%> required">
              <label class="form-check-label" for="<%=user.address[i]._id%>">
                <div class="bg-light p-3 border rounded">
                  <p>
                    <%=user.address[i].firstName%>
                      <%=user.address[i].secondName%> <br>
                        <%=user.address[i].email%> <br>
                          <%=user.address[i].number%> <br>
                            <%=user.address[i].country%> <br>
                              <%=user.address[i].state%> <br>
                                <%=user.address[i].address%> <br>
                                  <%=user.address[i].landmark%> <br>
                                    <%=user.address[i].pincode%> <br>


                  </p>
                </div>

              </label>
            </div>
            <%}%>
              <%}%>
        </div>
      <div class="cupon_area">
        <!-- <div class="check_title">
          <h2>
            Have a coupon?
            <a href="#">Click here to enter your code</a>
          </h2>
        </div> -->
        <input type="text" placeholder="Enter coupon code" name="coupon" id="coupon"/>
        <button class="tp_btn" onclick="couponApply()">Apply Coupon</button>
        <% if(typeof user==='undefined' ){%>
          <a class="tp_btn" href="/adduseraddress">Add Address</a>
          <%}else{%>

            <%}%>
      </div>




      



        <div class="">
          <div class="order_box">
            <h2>Your Order</h2>
            <ul class="list">
              <li>
                <a href="#">Product
                  <span>Total</span>

                </a>
              </li>
              <% for( let i=0; i < cartData.product.length; i++ ) { %>


                <li>

                  <td>
                    <%= cartData.product[i].productId.Name%>
                  </td>

                  </td>
                </li>

            </ul>

            <% } %>
              <ul class="list list_2">
                <li>
                  <a href="#">Subtotal
                    <h5>₹<span id="">
                        <%= totalPrice %>
                      </span></h5>
                  </a>
                </li>
                <li>
                  <a href="#">Shipping
                    <span>0</span>
                  </a>
                </li>
                <li>
                  <a href="#">Total
                    <h5>₹<span id="price">
                        <%= totalPrice %>
                      </span></h5>
                  </a>
                </li>
              </ul>
              <div class="payment_item">
                <div class="radion_btn">
                  <input type="radio" id="f-option5" name="paymentMethod" value="COD" required />
                  <label for="f-option5">Cash on Delivery</label>
                  <div class="check"></div>
                </div>
                <div class="radion_btn">
                  <input type="radio" id="f-option3" name="paymentMethod" value="RazorPay" required />
                  <label for="f-option3">RazorPay</label>
                  <div class="check"></div>
                </div>
                <!-- <p>
                 Please send a check to Store Name, Store Street, Store Town, 
                  Store State / County, Store Postcode.
                </p> -->
              </div>

              <div class="creat_account">
                <!-- <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#">terms & conditions*</a>  -->
              </div>
              <button class="btn_3" type="submit">Proceed to Pay</button>
          </div>
        </div>

      </div>
    </div>
    </form>
  </section>
  <!--================End Checkout Area =================-->

  <!--::footer_part start::-->
  
  <!--::footer_part end::-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    // Razor Payment
    const form = document.querySelector('#checkout-form');
    form.addEventListener('submit', (e) => {
      let payment = $('input[name=paymentMethod]:checked').val();
      let address = $('input[name=address]:checked').val();
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: '/checkout',
        data: {
          address: address,
          paymentMethod: payment
        },
        success: (response) => {
          if (response.success) {
            location.href = `/placeorder/${response.id}`
            console.log(response)
          } else {
            console.log(response.order)
            razorPayment(response.order)

          }
        },
      })
    })
    function razorPayment(order) {
      var options = {
        "key": "rzp_test_OKmIuCbgSZGaXh", // Enter the Key ID generated from the Dashboard
        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Cap Store", //your business name
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.id, // This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
          verifyPayment(response, order)
        },
        "prefill": {
          "name": "userData.name", //your customer's name
          "email": "userData.email",
          "contact": "userData.mobile"
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#ff6b6b"
        }
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
    }
    function verifyPayment(payment, order) {
      $.ajax({
        type: "POST",
        url: "/verifyPayment",
        data: {
          order,
          payment
        },
        success: function (response) {
          console.log(response);
          if (response.success) {
            console.log('Order Success')

            location.href = `/placeorder/${response.id}`
          } else {
            console.log('Order Failed')
          }
        }
      })
    }
 
    let count = 0;
    function couponApply( id) {
     
      const coupon = document.getElementById("coupon").value;
      
      $.ajax({
        type: "POST",
        url: "/coupon",
        data: {
          code: coupon
        },
        success: (response) => {
          if (response.success) {
            console.log(response.success);
            const total = document.getElementById("price").innerHTML;
            count++;
            if (count == 1) {
              if (response.success.Type === "Flat" && response.success.MinOrdervalue < total) {
                document.getElementById("price").innerHTML = Number(total) - Number(response.success.Value);
              } else if (response.success.Type === "Percentage" && response.success.MinOrdervalue < total) {
                document.getElementById("price").innerHTML = Number(total) - (Number(total) * Number(response.success.Value)) / 100;
              }
            }
          }
        }
      })
    }
  </script>

  <%- include('../layouts/userFooter') %>