<%- include('../layouts/userHeader.ejs') %>


  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Shop Single</h2>
              <p>Home <span>-</span> Shop Single</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->
  <!--================End Home Banner Area =================-->

  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7">
          <div class="product_slider_img">
            <div id="vertical">
              <div class="img-zoom-container">
                <img id="myimage" src="/Images/<%= product.Images[0]%>" width="600" height="450">
                <div id="myresult" class="img-zoom-result"></div>
             
              </div>
              <div data-thumb="img/product/single-product/product_1.png">
                <img id="myimage" src="/Images/<%= product.Images[1]%>" >
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            <h5>previous <span>|</span> next</h5>
            <h3><%= product.Name%></h3>
            <h2>₹<%= product.Price%></h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Category</span>Boot</a>
              </li>
              <li>
                <a href="#"> <span>Availibility</span> : In Stock</a>
              </li>
            </ul>
            <p>
              <%= product.Description %>
            </p>
            <div class="card_area d-flex justify-content-between align-items-center">
              <div class="product_count">
                <span class="inumber-decrement"> <i></i></span>
                <input class="input-number" type="text"  value="Qty :<%= product.Stock%>">
                <span class="number-increment"> <i ></i></span>
              </div>
              <a href="/addtocart?id=<%= product._id %>"  class="add_cart">add to cart</a>
              <a href="/add-wishlist?id=<%= product._id %>" class="like_us"> <i class="ti-heart"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->

  <!--================Product Description Area =================-->
  <section class="product_description_area">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        
      </ul>
      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="table-responsive">
            <table class="table">
              
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row">
            <div class="col-lg-6">
              <div class="comment_list">
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-1.png" alt="" />
                    </div>
                   
                  </div>
                  
                </div>
                <div class="review_item reply">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-2.png" alt="" />
                    </div>
                    
                  </div>
                  
                </div>
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      
                    </div>
                    <div class="media-body">
                      
                      
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
           
       
       
          
            
            
             
               
                
                
                <!-- <form class="row contact_form" action="contact_process.php" method="post" novalidate="novalidate">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" placeholder="Your Full name" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Email Address" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="number" placeholder="Phone Number" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" name="message" rows="1" placeholder="Review"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <button type="submit" value="submit" class="btn_3">
                      Submit Now
                    </button>
                  </div>
                </form> -->
              
          
          
      
    </div>
  </section>
  <!--================End Product Description Area =================-->

  <!-- product_list part start-->
 

  <script>
    // Initiate zoom effect:
    imageZoom("myimage", "myresult");
    </script>
    

<%- include('../layouts/userFooter.ejs') %>